<mat-card disabled>
  <mat-card-header>
    <mat-card-title>Configuration </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="connectionConfig" class="connectionConfigForm">
      <mat-form-field>
        <mat-label for="ipaddress">IP Address</mat-label>
        <input matInput id="ipaddress" type="ipaddress" placeholder="xxx.xxx.xxx.xxx" formControlName="ipaddress">
        <div *ngIf="ipaddress.touched && ipaddress.errors">
          <p *ngIf="ipaddress.errors ['required']">IP Address is required</p>
          <p *ngIf="ipaddress.errors ['pattern']">Invalid IP Address</p>
        </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="port">Port</mat-label>
        <input matInput id="port" type="text" placeholder="Port" formControlName="port">
        <div *ngIf="port.touched && port.errors">
          <p *ngIf="port.errors ['required']">Port is required</p>
          <p *ngIf="port.errors ['pattern']">Invalid Port</p>
          <p *ngIf="port.errors ['minlength']">Min 2 digit</p>
          <p *ngIf="port.errors ['maxlength']">Max 5 digit</p>
        </div>
      </mat-form-field>


      <button mat-raised-button [disabled]="isConnected" (click)="onOpenConnection()" color="primary">Connect</button>
      <button mat-raised-button [disabled]="!isConnected" (click)="onCloseConnection()"
        color="primary">Disconnect</button>
    </form>

  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Relays Configurations </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="relayConfig" class="relayConfigForm">
      <div class="relayConfig">
        <mat-label>Relay #1 </mat-label>
        <mat-button-toggle-group formControlName="relay1">
          <mat-button-toggle value="on">ON</mat-button-toggle>
          <mat-button-toggle value="off">OFF</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-label>Relay #2 </mat-label>
        <mat-button-toggle-group formControlName="relay2">
          <mat-button-toggle value="on">ON</mat-button-toggle>
          <mat-button-toggle value="off">OFF</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-label>Relay #3 </mat-label>
        <mat-button-toggle-group formControlName="relay3">
          <mat-button-toggle value="on">ON</mat-button-toggle>
          <mat-button-toggle value="off">OFF</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-label>Relay #4 </mat-label>
        <mat-button-toggle-group formControlName="relay4">
          <mat-button-toggle value="on">ON</mat-button-toggle>
          <mat-button-toggle value="off">OFF</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div>
        <button mat-raised-button [disabled]="!isConnected" (click)="onRelayConfig()" color="primary"
          class="relayConfigButton">Configure</button>
      </div>
    </form>

  </mat-card-content>
</mat-card>

<!-- scheduling-->

<mat-card>
  <mat-card-header>
    <mat-card-title>Scheduling</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="scheduling" class="schedulingForm">
      <app-relay-control *ngFor="let relayControl of relayScheduleControls" [relayGroup]="relayControl.formGroup"
        [relayName]="relayControl.name"></app-relay-control>
    </form>
  </mat-card-content>
</mat-card>