mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 5px;
}

.connectionConfigForm {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.relayConfigForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.relayConfig {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}