<!-- relay-control.component.html -->

<div [formGroup]="relayGroup" class="relay-group">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ relayName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- Repeatable set of controls for each relay -->
            <div *ngFor="let setKey of ['set1', 'set2', 'set3', 'set4']" formGroupName="{{ setKey }}" class="set-group">
                <mat-checkbox formControlName="isChecked" (click)="onCheckboxChange(setKey)"> </mat-checkbox>

                <mat-form-field >
                    <input matInput placeholder=" Time (HH:mm)" formControlName="time" [disabled]="!relayGroup.get(setKey + '.isChecked')?.value">
                    <mat-error *ngIf="relayGroup.get(setKey + '.time')?.hasError('required')">Time is
                        required</mat-error>
                    <mat-error *ngIf="relayGroup.get(setKey + '.time')?.hasError('pattern')">Invalid time format
                        (HH:mm)</mat-error>
                </mat-form-field>

                <mat-button-toggle-group formControlName="state" [disabled]="!relayGroup.get(setKey + '.isChecked')?.value">
                    <mat-button-toggle value="on">ON</mat-button-toggle>
                    <mat-button-toggle value="off">OFF</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </mat-card-content>
    </mat-card>
</div>